<div class="main form">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
	<span id="main-title">Tailor</span>
	<span class="version" id="version">v0.0.0</span>
	<span class="heartbeat" id="heartbeat">*</span>
      </div>
      <div class="title sub" id="subTitle"></div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Select Partition ...</div>
    <div class="palm-list">
      <div id="volumeList" x-mojo-element="List"></div>
    </div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="activityTitle">Select Activity ...</div>
    <div class="palm-list">
				
      <div class="palm-row first">
	<div class="palm-row-wrapper">
	  <div id="partitionActivity" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
      <div class="palm-row" id="partitionSizeRow">
	<div class="palm-row-wrapper">
	  <div class="label left un-capitalize">Partition Size:</div>
	  <div class="title right" id="partitionSize">Unknown</div>
	</div>
      </div>

      <div class="palm-row" id="filesystemSizeRow">
	<div class="palm-row-wrapper">
	  <div class="label left un-capitalize">Filesystem Size:</div>
	  <div class="title right" id="filesystemSize">Unknown</div>
	</div>
      </div>

      <div class="palm-row" id="filesystemUsedRow">
	<div class="palm-row-wrapper">
	  <div class="label left un-capitalize">Filesystem Used:</div>
	  <div class="title right" id="filesystemUsed">Unknown</div>
	</div>
      </div>

      <div class="palm-row last" id="filesystemFreeRow">
	<div class="palm-row-wrapper">
	  <div class="label left un-capitalize">Filesystem Free:</div>
	  <div class="title right" id="filesystemFree">Unknown</div>
	</div>
      </div>

    </div>
  </div>

  <div class="palm-group" id="unmount-partition-group">
    <div class="palm-group-title" id="unmount-partition-title">Unmount Partition</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="unmountPartitionButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="check-filesystem-group">
    <div class="palm-group-title" id="check-filesystem-title">Check Filesystem</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="checkFilesystemButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="repair-filesystem-group">
    <div class="palm-group-title" id="repair-filesystem-title">Repair Filesystem</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="repairFilesystemButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="corrupt-filesystem-group">
    <div class="palm-group-title" id="corrupt-filesystem-title">Corrupt Filesystem</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="corruptFilesystemButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="resize-partition-group">
    <div class="palm-group-title" id="resize-partition-title">Resize Partition</div>
    <div class="palm-list">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	<div class="title">
	  <div class="label un-capitalize">MiB</div>
	  <div id="newPartitionSize" x-mojo-element="TextField"></div>
	</div>
      </div>
      <div class="palm-row-wrapper">
	<div id="resizePartitionButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>
  
  <div class="palm-group" id="mount-partition-group">
    <div class="palm-group-title" id="mount-partition-title">Mount Partition</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="mountPartitionButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="create-partition-group">
    <div class="palm-group-title" id="create-partition-title">Create Partition</div>
    <div class="palm-list">
      <div class="palm-row first">
	<div class="palm-row-wrapper">
	  <div id="initialPartitionName" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	<div class="title">
	  <div class="label un-capitalize">MiB</div>
	  <div id="initialPartitionSize" x-mojo-element="TextField"></div>
	</div>
      </div>
      <div class="palm-row-wrapper">
	<div id="createPartitionButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>
  
  <div class="palm-group" id="delete-partition-group">
    <div class="palm-group-title" id="delete-partition-title">Delete Partition</div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
	<div id="deletePartitionButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>

  <div class="palm-group" id="statusGroup">
    <div class="palm-group-title" id="statusTitle">Status</div>
    <div x-mojo-element="Label" id="status"></div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title">Current Mounts (Tap to unmount)</div>
    <div class="palm-list">
      <div id="mountList" x-mojo-element="List"></div>
    </div>
  </div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
  <div class="palm-scrim" id="overlay">
    <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
  </div>

</div>
