<div class="prefs form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon" id="icon"></div>
			<div class="title" id="preferences-title">Preferences</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="global-title">Global</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-theme"></div>
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
